@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Yatra+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-padrao);
}

/* Paleta de cores do projeto:
    
    - Rosa        : #EE05F2
    - Roxo        : #AB04D9
    - Azul Escuro : #1903A6
    - Azul        : #0511F2

*/

:root {
    --cor1: #EE05F2;
    --cor2: #AB04D9;
    --cor3: #1903A6;
    --cor4: #0511F2;

    --font-padrao: "Yatra One", system-ui, Arial , Helvetica, sans-serif;
}

body, html {
    
}

body {
    /* background-image: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4)); */
    background-color: black;
}

header {
    background-color: black;
}

header > h1 {
    text-align: center;
    text-shadow: 2px 2px 2px #0511F2;
    font-size: 2em;
    font-weight: bolder;
    color: white;
    padding: 10px;
}

header > p {
    text-align: center;
    font-size: 0.7em;
    color: white;
    text-shadow: 1px 1px 1px #0511F2;
}

strong {
    color: var(--cor2);
}

nav {
    background-color: black;
    padding: 5px;
    text-align: center;
}

nav > a {
    text-align: justify;
    text-decoration: none;
    margin: auto;
    margin: 0px 4px;
    color: var(--cor2);
    text-shadow: 1px 1px 1px #0511F2;
}

nav > a:hover {
    color: var(--cor1);
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
}

nav > a > span {
    transform: translateY(30%);
}

main {
    background-image: linear-gradient(to right, var(--cor1), var(--cor2), var(--cor3), var(--cor4));
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95vw;
    border-radius: 10px;
    
}

div.video {
    height: 500px;
}

div.video > iframe {
}

div#bdo > iframe#video1 {
    float: left;
    width: 46%;
    height: 95%;
    padding: 5px;
    margin-left: 2px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.725);
}

div#bdo > iframe#video2 {
    float: right;
    width: 46%;
    height: 95%;
    padding: 5px;
    margin-right: 2px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.725);
}

div.videos {
    height: 450px;
}

div.videos > iframe.warframe {
    height: 500px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.725);
}

div.videos > iframe#warframe1 {
    float: left;
    width: 46%;
    height: 95%;
    margin-left: 2px;   
}

div.videos > iframe#warframe2 {
    float: right;
    width: 46%;
    height: 95%;
    margin-right: 2px;   
}

div.videos > iframe#warframe3 {
    float: left;
    width: 46%;
    height: 95%;
    margin-left: 2px;    
}

div.videos > iframe#warframe4 {
    float: right;
    width: 46%;
    height: 95%;
    margin-right: 2px;  
}

div.videos > iframe#warframe5 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 97%;    
}

article {
}

article#imagem {
    background-image: url('../imagens/parallax-p.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 450px;
    margin: 0px 7px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.507);
    border-radius: 6px;
}

section {
}

section > ul {
    list-style-type: none;
    text-align: left;
    padding: 5px;
}

section > ul > li {
    color: white;
    text-shadow: 1px 1px 1px var(--cor2);
    line-height: 1.9em;
    margin: 4px 0px;
    font-size: 0.8em;
}


section#libdo {
    display: inline;
    float: left;
    padding: 5px;
    width: 46%;
    height: 93%;
    margin: 10px 0px;

}


section#liwarframe {
    display: inline;
    float: right;
    padding: 5px;
    width: 46%;
    height: 93%;
    margin: 10px 0px;
}

ul > h1 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px var(--cor2);
    margin: 3px 0px;
}

ul > li > a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px var(--cor2);

}

li > a:hover {
    text-decoration: underline;
    color: white;
    text-shadow: 2px 2px 2px var(--cor4);
    letter-spacing: 1px;
    transition-duration: .6s;
}

section > h1 {
    text-align: center;
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 2px black;
}

section > p {
    text-align: center;
    color: white;
    padding: 5px;
    text-shadow: 1px 1px 1px black;
}


aside {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    padding: 5px;
}

footer {
    text-align: center;
    background-color: black;
    height: 35px;
    
}

footer > p {
    color: white;
    text-shadow: 2px 2px 2px var(--cor4);
    padding: 5px;
}

footer > p > a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px var(--cor4);
}

footer > p > a:hover {
    color: var(--cor1);
    font-size: 1em;
    text-shadow: 2px 2px 2px var(--cor4);
    letter-spacing: 4px;
    transition-duration: .5s;
    

}